.input-style{
    border-bottom: 0 solid #ced4da !important;
}
.container{
    padding-top:2%;
    
}
.post-date{
    background: #f4f4f4;
    padding: 4px;
    margin:3px 0;
    display: block;
   
}

.padding-top-5{
    padding-top: 5%;
}
.center{
    display: flex;
    align-content: center;
    justify-content: center;
}
.center-y{
    display: flex;
    align-content: center;
}
.center-x{
    display: flex;
    justify-content: center;
}
.padding-left-10{
    margin-left: 10%;
}