.container{
    padding-top:2%;
    
}
.post-date{
    background: #f4f4f4;
    padding: 4px;
    margin:3px 0;
    display: block;
   
}

.padding-top-5{
    padding-top: 5%;
}

.padding-left-10{
    margin-left: 10%;
}